@using FlowerHouse.Models.Entity
@model List<Flower>
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/homeIndex.css" rel="stylesheet" />

<div class="middle">
    @*异步调用导购组件*@
    @await Component.InvokeAsync("ShopNav")

    <div class="layui-carousel" id="test10">
        <div carousel-item="" class="ScrollPicture">

            <div>
                <img src="~/images/carouselPicture/c1.jpg" />
            </div>
            <div>
                <img src="~/images/carouselPicture/c2.jpg" />
            </div><div>
                <img src="~/images//carouselPicture//c3.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="fine">
    <div class="qualityTitle">
        <div class="leftTitle">精品推荐</div>
        <div class="rightTitle"><a href="#"> 查看全部 >></a></div>
    </div>
    <div class="product">
        <div class="leftproduct">
            <div class="leftbox">
                <a href="#">
                    @*<img src="~/images/leftboximg.jpg" />*@
                    <img src="~/images/banner_song.jpg" />
                    <div class="banner-bottom">
                        <span>精品推荐专区 >></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="rightproduct">
            @foreach (var flower in Model)
            {

                <div class="rightbox">
                    <a href="#">
                        <img src="@flower.FlowerImg" />
                        <p class="FlowerName">@flower.FlowerName</p>
                        <p class="Price">￥：@flower.Stock.SellPrice</p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;

        //图片轮播
        carousel.render({
            elem: '#test10'
            , interval: 3000
            , arrow: 'always'
        });

        var $ = layui.$, active = {
            set: function (othis) {
                var THIS = 'layui-bg-normal'
                    , key = othis.data('key')
                    , options = {};

                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };

        //监听开关
        form.on('switch(autoplay)', function () {
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function () {
            var value = this.value
                , options = {};
            if (!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        //$('.demoTest .layui-btn').on('click', function () {
        //    var othis = $(this), type = othis.data('type');
        //    active[type] ? active[type].call(this, othis) : '';
        //});
    });

</script>