
.flowerList {
    width: 1200px;
    margin: 0 auto;
    height: 640px;
    text-align:justify;
    /*两边对齐*/
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}

.flower {
    display: inline-block;
    width: 18%;
    height: 300px;
    background-color: #e9e9e9;
    box-sizing: border-box;
    margin-bottom: 2%;
}
    .flower a {
        display:block;
        width:100%;
        height:100%;
        text-align:center;
    }

    .flower:hover {
        transform: translate(0px,-6px);
        box-shadow: 0 10px 6px 5px #ccc;
    }
