<a class="layui-btn" href="/Admin/Tag/CreateOrUpdate">增加</a>

<table id="tagtable" lay-filter="tagtablefilter"></table>

@section Script{
    <script>
        layui.use('table', function () {
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#tagtable'
                , url: '/Admin/Tag/GetDataList' //数据接口
                , cols: [[ //表头
                    { field: 'tagId', title: '标签ID', sort: true }
                    , { field: 'tagName', title: '标签名', }
                    , { field: 'tagImg', title: '标签图片' }
                    , { width: 150, align: 'center', toolbar: '#opbar' }
                ]]
                , page: true
            });

            table.on('tool(tagtablefilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if (layEvent === 'delete') { //删除
                    layer.confirm('真的删除行么', function (index) {
                        //向服务端发送删除指令
                        let data = {};
                        data["tagid"] = obj.data.tagId;
                        $.ajax({
                            type: 'post',
                            url: '/Admin/Tag/DeleteData',
                            data: data
                            //删除对应行（tr）的DOM结构，并更新缓存
                        }).done(function (data) {
                            if (data.status) {
                                layer.msg(data.msg, { icon: 1 });
                                obj.del();
                            }
                            else {
                                layer.msg(data.msg, { icon: 5 });
                            }

                        })
                    });
                }
                else if (layEvent === 'update') {
                    location.href = '/Admin/Tag/CreateOrUpdate?tagid=' + obj.data.tagId;
                }
            });
        });
    </script>
    <script type="text/html" id="opbar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update">更改</a>

    </script>
}